<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log" type="QinSoft.Log.Config.LogSection, QinSoft.Log"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <appSettings>
    <!--全局配置-->
    <add key="LoginInfoFilePath" value="./Config/LoginInfo.json"/>
    <add key="UrlMappingFilePath" value="./Config/UrlMapping.json"/>
    <add key="WindowInfoFilePath" value="./Config/WindowInfo.json"/>
    <add key="AllowMulitInstance" value="true"/>
    <add key="ShowCefDevTools" value="false"/>
    <add key="ShowGlobalError" value="true"/>

    <add key="ApiUrl" value="https://localhost:44356/"/>
  </appSettings>

  <!--日志配置-->
  <log appId="1000006" appSecret="EMChat2.WPF.Secret">
    <targets>
      <target key="FileLog" type="QinSoft.Log.Core.FileLogImp,QinSoft.Log" filePathFormat="'Log\\${Level}\\'yyyy-MM-dd.'log'"></target>
      <target key="ApiLog" type="QinSoft.Log.Core.ApiLogImp, QinSoft.Log" logApiUrl="https://tgchatapi.eastmoney.com/QinSoft.Log/Api/LogApi">
        <fieldMappers>
          <fieldMapper fieldName="AppID" fieldFormat="${AppID}" fieldType="System.Int32"></fieldMapper>
          <fieldMapper fieldName="LogSign" fieldFormat="${Sign}"></fieldMapper>
          <fieldMapper fieldName="LogTimeStamp" fieldFormat="${TimeStamp}" fieldType="System.Int64"></fieldMapper>
          <fieldMapper fieldName="LogType" fieldFormat="${Type}" fieldType="QinSoft.Log.Core.LogType, QinSoft.Log"></fieldMapper>
          <fieldMapper fieldName="LogLevel" fieldFormat="${Level}" fieldType="QinSoft.Log.Core.LogLevel, QinSoft.Log"></fieldMapper>
          <fieldMapper fieldName="LogAction" fieldFormat="${Action}"></fieldMapper>
          <fieldMapper fieldName="LogMessage" fieldFormat="${Message}"></fieldMapper>
          <fieldMapper fieldName="LogException" fieldFormat="${Exception}"></fieldMapper>
          <fieldMapper fieldName="LogFrom" fieldFormat="From EMChat.WPF"></fieldMapper>
        </fieldMappers>
      </target>
    </targets>

    <rules>
      <rule targetKey="FileLog" maxLogLevel="Info"></rule>
      <rule targetKey="ApiLog" minLogLevel="Warning"></rule>
    </rules>
  </log>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.3.0" newVersion="2.3.3.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
